*, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-weight: 400;
    background: rgb(20, 21, 23);
    color: white;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

ol, ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline-start: 0px;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button, input, optgroup, select, textarea {
    line-height: normal;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input[type="button"], input[type="submit"], button {
    cursor: pointer;
    border: 0px none transparent;
    outline: none 0px;
    background: none;
    appearance: initial;
    padding: 0px;
}

img {
    border-style: none;
}

#root{
    width: 100%;
    height: 100%;
}

#warp{

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 0 0;
    transition: padding 300ms ease;
}

#header{
    position: fixed;
    top: 0px;
    z-index: 500;
    font-size: 14px;
    letter-spacing: -0.4px;
    width: 100%;
    height: 72px;
    padding: 0 4%;
    transition: padding 300ms ease;
}

#body{
    flex: 1;
    background: #141517;
}

#center{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

#section{
    -webkit-transform: scale(0.83);
    -ms-transform: scale(0.83);
    transform: scale(0.83);
    -webkit-animation: animation-cmelmz 200ms cubic-bezier(0.13,0.29,0.29,0.86) forwards,animation-ox4vyo 200ms ease-in-out forwards;
    animation: animation-cmelmz 200ms cubic-bezier(0.13,0.29,0.29,0.86) forwards,animation-ox4vyo 200ms ease-in-out forwards;
}

#box_header{
    text-align: center;
    margin: 0 0 4.0625vw;
}

.header_title{
    color: #fff;
    font-size: 3.125vw;
    font-weight: 700;
    -webkit-letter-spacing: -0.05546875vw;
    -moz-letter-spacing: -0.05546875vw;
    -ms-letter-spacing: -0.05546875vw;
    letter-spacing: -0.05546875vw;
    margin: 0 0 0.15625vw;
}

#profiles{
    text-align: center;
    margin: 0 0 4.921875vw;
}

.profile{
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    width: 12.03125vw;
    height: 12.03125vw;
    padding: 0 0.703125vw;
}



.profile_btn{
    cursor: pointer;
    border: 0px none transparent;
    outline: none 0px;
    background: none;
    appearance: initial;
    padding: 0px;
}

.profile_img_box{
    position: relative;
    width: 11.09375vw;
    height: 11.09375vw;
    border-radius: 50%;
}

.img_box_inner{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.profile_img{
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}

.profile_img_box::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: transparent;
    background-size: 5vw 5vw;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.46875vw solid #2a2b2c !important;
    border-radius: 50%;
}

.profile_btn:hover > div::after {
    color: #fff;
    border-color: #fff !important;
}

.profile_btn:hover .name {
    color: #fff;
}

.name{
    color: #adadad;
    font-size: 1.40625vw;
    font-weight: 400;
    -webkit-letter-spacing: -0.0390625vw;
    -moz-letter-spacing: -0.0390625vw;
    -ms-letter-spacing: -0.0390625vw;
    letter-spacing: -0.0390625vw;
    white-space: nowrap;
    text-align: center;
    width: 11.09375vw;
    margin: 0.8593750000000001vw 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#box_footer{
    line-height: 1;
    text-align: center;
}

#footer_btn{
    background: none left 1.48438vw top 0.9375vw / 1.5625vw 1.5625vw no-repeat rgb(34, 35, 36);
    color: rgb(219, 219, 219);
    font-size: 1.40625vw;
    font-weight: 400;
    letter-spacing: -0.0390625vw;
    line-height: 2.10938vw;
    padding: 0.625vw 1.875vw 0.703125vw;
    white-space: nowrap;
}

#footer_btn:hover{
    background-color: #fff;
    color: #000;
}